# Satisfaction Analysis

In [1]:
# Import necessary libraries and modules
import os
import sys

sys.path.insert(0, os.path.dirname(os.getcwd()))

from scripts.conect_db import conn_db
from scripts.Exp_Analytics import Exp_Analytics
from scripts.satsifaction_anay import SatisfactionAnalysis

# Suppress FutureWarnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
db = conn_db(
    database='TellCo_db',
    user='postgres',
    password='SH36@jit',
    host='localhost',
    port='5432'
)
db.connect()

Connected to TellCo_db database successfully.

In [3]:
# Fetch data as a DataFrame
df = db.fetch_data("SELECT * FROM xdr_data;")
db.disconnect()
# Initialize the Exp_Analytics class
exp_anly = Exp_Analytics(df)

# data wrangling
clean_data = exp_anly.wrangle() # all EDA done here

TellCo_db connection closed.

In [4]:
clean_data.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (s),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [5]:
# Initialize the SatisfactionAnalysis class
sat_anly = SatisfactionAnalysis(clean_data)

In [6]:
sat_anly.assign_enga_exp_scores()

Engagement and experience scores assigned to users.

In [7]:
sat_anly.calculate_satisfaction()

Top 10 satisfied customers:
        MSISDN/Number  satisfaction_score
125005   3.362578e+10           11.993402
0        3.366496e+10           11.667191
125008   3.362578e+10           11.555380
125007   3.362578e+10           11.515847
125006   3.362578e+10           11.184800
125009   3.362578e+10           10.471543
100014   3.366926e+10           10.307817
100012   3.376355e+10           10.042826
100013   3.376355e+10            9.729809
125010   3.362578e+10            9.449806

        MSISDN/Number  satisfaction_score
125005   3.362578e+10           11.993402
0        3.366496e+10           11.667191
125008   3.362578e+10           11.555380
125007   3.362578e+10           11.515847
125006   3.362578e+10           11.184800
125009   3.362578e+10           10.471543
100014   3.366926e+10           10.307817
100012   3.376355e+10           10.042826
100013   3.376355e+10            9.729809
125010   3.362578e+10            9.449806

In [8]:
#  Train regression model
model = sat_anly.train_regression_model()

Model MSE: 2.843548378945303e-30
Model R2 score: 1.0

In [9]:
# Apply KMeans on satisfaction scores
sat_anly.kmeans_on_scores()

K-Means clustering on engagement and experience scores done.

In [10]:
#  Aggregate satisfaction and experience scores per cluster
cluster_aggregation = sat_anly.aggregate_scores_per_cluster()

Satisfaction and experience scores per cluster:
  satisfaction_cluster satisfaction_score           experience_score
                                     mean       std             mean       std
0                    0           1.323118  0.622824         0.689484  0.390942
1                    1           2.130778  0.489387         2.517563  0.544623