## Setup

First, let's set up the environment by importing necessary libraries and loading the data.

In [1]:
# Import necessary libraries and modules
import os
import sys

sys.path.insert(0, os.path.dirname(os.getcwd()))

from scripts.conect_db import conn_db
from scripts.tellCo_analysis import TellCoEDA
from scripts.user_engag_analysis import User_Engag_Analysis

# Suppress FutureWarnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

### Connecting to a PostgreSQL Database

In [2]:
db = conn_db(
    database='TellCo_db',
    user='postgres',
    password='SH36@jit',
    host='localhost',
    port='5432'
)
db.connect()

Connected to TellCo_db database successfully.

In [3]:
# Fetch data as a DataFrame
df = db.fetch_data("SELECT * FROM xdr_data;")
db.disconnect()
# Initialize the TelecomEDA class
tellCo_data = TellCoEDA(df)

TellCo_db connection closed.

In [4]:
# data wrangling
df = tellCo_data.wrangle()

c:\Users\Coop\OneDrive\Desktop\10 Acedamy\week-2\scripts\tellCo_analysis.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df[numeric_cols] = self.df[numeric_cols].fillna(self.df[numeric_cols].mean())

In [6]:
User_Engag = User_Engag_Analysis(df)

In [7]:
User_Engag.aggr_user_metrics()

               total_duration      total_dl      total_ul  total_traffic
MSISDN/Number
3.360100e+10     1.167200e+05  8.426375e+08  3.605311e+07   8.786906e+08
3.360100e+10     1.812300e+05  1.207552e+08  3.610446e+07   1.568596e+08
3.360100e+10     1.349690e+05  5.566597e+08  3.930682e+07   5.959665e+08
3.360101e+10     4.987800e+04  4.019932e+08  2.032753e+07   4.223207e+08
3.360101e+10     3.710400e+04  1.363130e+09  9.428053e+07   1.457411e+09
...                       ...           ...           ...            ...
3.378998e+10     2.103890e+05  1.023862e+09  7.083142e+07   1.094693e+09
3.379000e+10     8.810000e+03  6.879252e+08  2.671643e+07   7.146416e+08
3.379000e+10     1.409880e+05  4.445751e+08  3.573224e+07   4.803073e+08
3.595829e+10     7.029411e+07  4.840458e+11  4.409934e+10   5.281451e+11
3.370000e+14     2.530300e+05  5.396350e+08  5.665284e+07   5.962878e+08

[106363 rows x 4 columns]

In [8]:
User_Engag.normalize_metrics()

               total_duration  total_dl  total_ul  total_traffic
MSISDN/Number
3.360100e+10         0.001559  0.001723  0.000753       0.001601
3.360100e+10         0.002477  0.000231  0.000754       0.000234
3.360100e+10         0.001819  0.001132  0.000826       0.001066
3.360101e+10         0.000608  0.000812  0.000396       0.000737
3.360101e+10         0.000426  0.002798  0.002073       0.002697
...                       ...       ...       ...            ...
3.378998e+10         0.002892  0.002097  0.001541       0.002010
3.379000e+10         0.000024  0.001403  0.000541       0.001290
3.379000e+10         0.001904  0.000900  0.000745       0.000847
3.595829e+10         1.000000  1.000000  1.000000       1.000000
3.370000e+14         0.003498  0.001097  0.001220       0.001066

[106363 rows x 4 columns]